<div class="container">
  <main class="row">
    <aside class="col-md-3 " id="cottrai">
      <a class="navbar-brand" style="font-weight: bold; font-size: 25px;" href="#">Quản lý dự án</a>
      <ul class="nav flex-column">
        <li >
          <a class="btn btn-outline-success" style="margin: 5px;" href="#" routerLink="/register">Đăng ký</a>
          <a class="btn btn-outline-success" style="margin: 5px;" href="#" routerLink="/login">Đăng nhập</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="font-size: 20px;" href="#">Giới thiệu</a>
        </li>
        <div >
          <a class="nav-link " href="#" role="button" data-bs-toggle="" aria-expanded="false">
            Quản lý dự án
          </a>
          <li ><a class="dropdown-item nav-linkk" href="#" routerLink="/du_an/them">Thêm dự án</a></li>
          <li><a class="dropdown-item nav-linkk" href="#" routerLink="/du_an">Danh sách dự án</a></li>
        </div>

        <div >
          <a class="nav-link " href="#" role="button" data-bs-toggle="" aria-expanded="false">
            Quản lý nhân viên
          </a>
          <li><a class="dropdown-item nav-linkk" href="#" routerLink="/nhan_vien/them">Thêm nhân viên</a></li>
              <li><a class="dropdown-item nav-linkk" href="#" routerLink="/nhan_vien">Danh sách nhân viên</a></li>
        </div>

        <div >
          <a class="nav-link" href="#" role="button" data-bs-toggle="" aria-expanded="false">
            Quản lý task
          </a>

          <li><a class="dropdown-item nav-linkk" href="#" routerLink="/task/them">Thêm task</a></li>
          <li><a class="dropdown-item nav-linkk" href="#" routerLink="/task">Danh sách task</a></li>
        </div>

      </ul>

    </aside>

    <article class="col-md-9 " id="cotphai">
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Từ khoá">
        <button class="btn btn-outline-success" type="submit">Tìm</button>
      </form>
      <router-outlet></router-outlet>
    </article>
  </main>

  <!-- Footer -->
  <!-- <footer class="bg-success" style="height: 45px"></footer> -->
</div>
